**/__pycache__/**/*
/.archive/**/*
/.vscode/**/*
/mech325env/**/*
.DS_Store

# Don't track generated content
/latex_output/aux/**/*
/latex_output/solution.tex

# For files that are created for temporary testing, prefix the file name with "temp"
**/temp*.*
